{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "extends": ["plugin:@typescript-eslint/recommended"],
    // 1 = warning, 2 = error
    "rules": {
        "@typescript-eslint/ban-ts-comment": 1,
        "no-console": 1,
        "quotes": [2, "single"],
        "semi": "warn"
    }
}
