@import url("https://fonts.googleapis.com/css?family=Ubuntu:700,italic,regular,700italic");

:root {
  --cell-color-blue: hsl(204, 86%, 53%);
  --cell-color-green: hsl(141, 71%, 53%);
  --cell-color-red: hsl(348, 100%, 61%);
  --cell-color-orange: hsl(37, 90%, 51%);
  --cell-color-white: hsl(0, 0%, 96%);
  --cell-color-black: hsl(0, 0%, 4%);
  --cell-color-lightlight-gray: hsl(0, 0%, 89%);
  --cell-color-light-gray: hsl(0, 2%, 78%);
  --cell-color-lightdark-gray: hsl(0, 0%, 50%);
  --cell-color-dark-gray: hsl(0, 0%, 40%);

  --background-color: rgb(94, 85, 92);
  --title-color: rgb(177, 178, 193);
  --text-color: rgb(255, 255, 255);
  --border-color: rgb(255, 159, 159);

  --button-text-color: rgb(255, 255, 255);
  --button-background-color: rgb(33, 33, 33);
  --button-hover-background-color: rgb(127, 127, 127);
  --button-active-background-color: rgb(127, 127, 127);

  --cell-width: 50px;
  --cell-height: 50px;
  --cell-background: radial-gradient(var(--cell-color-white), var(--cell-color-light-gray));
  --cell-background-open: radial-gradient(var(--cell-color-white), var(--cell-color-light-gray));
  --cell-background-hover: radial-gradient(var(--cell-color-white), var(--cell-color-light-gray), var(--cell-color-red));
  --cell-border: 1px;
  --cell-border-hover: 1px;
  --cell-border-style: solid;
  --cell-border-style-hover: solid;
  --cell-border-color: var(--cell-color-black);
  --cell-border-color-hover: var(--cell-color-red);
}

body {
  background: var(--background-color);
}

main {
  font-family: 'Ubuntu', sans-serif;
  max-width: 610px;
  margin: auto;
}

h1 {
  text-align: center;
  color: var(--title-color);
  font-weight: 700;
}
