@import url("https://fonts.googleapis.com/css?family=Ubuntu:700,italic,regular,700italic");
@import "variables";
@import "mixin";

body {
  background: $background-color;
}

main {
  font-family: 'Ubuntu', sans-serif;
  max-width: 610px;
  margin: auto;

  h1 {
    text-align: center;
    color: $title-color;
    font-weight: 700;

    .question {
      height: 30px;
      width: 30px;
      @include borders(50%);
      display: inline-block;
      cursor: pointer;
      margin-left: 20px;
    }
  }

  .user-display {
    text-align: center;
    color: $text-color;
    @include borders();
    display: inline-block;
    width: 15%;
    margin: 0 5px;
    padding: 5px;
  }

  .instructions {
    text-align: left;
    color: $text-color;
    @include borders();
    margin: 0 5px 1em;
    padding: 5px;
    font-weight: bold;
    display: none;
  }

  .controls {
    text-align: center;

    .button {
      display: inline-block;
      padding: 15px 25px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      text-decoration: none;
      outline: none;
      color: $button-text-color;
      background-color: $button-background-color;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
    }

    .button:hover {
      background-color: $button-hover-background-color
    }

    .button:active {
      background-color: $button-active-background-color;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }
  }

  #messageBox {
    text-align: center;
    color: $text-color;
    @include borders();
    font-weight: bold;
    margin: 0 5px 1em;
    padding: 5px;
  }

  .board {
    width: (($cell-width + ($cell-border * 2)) * 10);
    height: (($cell-height + ($cell-border * 2)) * 10);
    margin: 1em;
    border: 20px solid #333;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .cell {
      width: $cell-width;
      height: $cell-height;
      background-image: radial-gradient(#fff, #e6e6e6);
      border: $cell-border solid black;
      font-size: 50px;
      text-align: center;
      line-height: 54px;
      color: #000;

      &.empty {
        background-image: radial-gradient(#e6e6e6,#c9c7c7);
      }
      &.blue {
        color: #0000ff;
      }
      &.green {
        color: #008000;
      }
      &.red {
        color: #FF0000;
      }
      &.orange {
        color: #FFA500;
      }
      &.black {
        color: #000;
      }
    }
  }
}